<extend name="Layout/form-add" />
<block name='css'>
 <link rel="stylesheet" type="text/css" href="/Public/static/css/plugins/webuploader/webuploader.css">
<link rel="stylesheet" type="text/css" href="/Public/static/css/demo/webuploader-demo.css">
<link rel="stylesheet" href="/Public/static/css/style.css?v=4.1.0" >
</block>


<block name="form-field">
	{:formbuilder('input',array('title'=>'分类名称','name'=>'title','value'=>$list['title'],'placeholder'=>'请输入分类名称','validate'=>'required','tip'=>''))}
	{:formbuilder('select',array('title'=>'上级分类','name'=>'pid','options'=>$parent,'select'=>$list['pid']))}
	 {:formbuilder('input',array('title'=>'关键字','name'=>'keyword','value'=>$list['keyword'],'placeholder'=>'','validate'=>'','tip'=>''))}
	{:formbuilder('textarea',array('title'=>'分类描述','name'=>'desc','value'=>$list['name'],'placeholder'=>'如果有则请填写路由地址','validate'=>'','tip'=>''))}
   	{:formbuilder('input',array('title'=>'排序','name'=>'sort','value'=>$list['sort'],'placeholder'=>'请输入排序','validate'=>'required','tip'=>''))}
	{:formbuilder('choose',array(type=>'radio','title'=>'分类状态','name'=>'status','options'=>array('2'=>'禁用',1=>'启用'),'checked'=>[$list['status']]))}
	
	
	   <include file="Common/Upload" />
	
</block>

<block name='extend'>
 
</block>