<extend name="Layout/jquery-table" />

<title>{$titlename}</title>
<block name='toolBar'>
                      {:getToolIcon('add','J_open btn-sm',U('add'))}
                          
                          
</block>

<block name="searchForm">
                           		 <div class="form-group">
                                <label for="exampleInputEmail2" class="sr-only">IP</label>
                                <input type="text" name="ip"  placeholder="ip" id="exampleInputEmail2" class="form-control">
                           		 </div>
                           		
                          
                           		 
    </block>

 <block name='thead'>
  	<th data-field="stat" data-formatter="setCheckbox" data-sortable='false'>
		  	<span data-ck='0' onclick="getall(this)">全选</span>
		  </th>
         <th data-field="id"  data-sortable="true" >id</th>
         <th data-field="ver"  data-sortable="true" >版本号</th>
             <th data-field="pubstatus"  data-sortable="true">发布状态</th>
         <th data-field="mark"  data-sortable="true" >备注</th>
         <th data-field="addtime"  data-sortable="true" >添加时间</th>
         <th data-field="adduser"  data-sortable="true" >操作人</th>
     
         <th data-field="operate"  data-sortable="true">操作</th>
 </block>
