<extend name="Layout/form-add" />
<block name="form-field">
	{:formbuilder('input',array('title'=>'菜单名称','name'=>'title','value'=>$list['title'],'placeholder'=>'请输入菜单名','validate'=>'required','tip'=>''))}
	{:formbuilder('select',array('title'=>'上级分类','name'=>'pid','options'=>$parent,'select'=>$list['pid']))}
	{:formbuilder('input',array('title'=>'路由','name'=>'name','value'=>$list['name'],'placeholder'=>'如果有则请填写路由地址','validate'=>'','tip'=>''))}
    {:formbuilder('input',array('title'=>'图标','name'=>'icon','value'=>$list['icon'],'placeholder'=>'','validate'=>'','tip'=>''))}
	{:formbuilder('input',array('title'=>'排序','name'=>'sort','value'=>$list['sort'],'placeholder'=>'请输入排序','validate'=>'required','tip'=>''))}
	{:formbuilder('choose',array(type=>'radio','title'=>'菜单状态','name'=>'status','options'=>array('2'=>'禁用',1=>'启用'),'checked'=>[$list['status']]))}
{:formbuilder('choose',array(type=>'radio','title'=>'功能类型','name'=>'type','options'=>array('3'=>'分组',1=>'权限节点',2=>'菜单'),'checked'=>[$list['type']]))}

</block>