<extend name="Layout/jquery-table" />

<title>{$titlename}</title>


<block name='toolBar'>
                                 
                                 
</block>



 <block name='thead'>
		  <th data-field="stat" data-formatter="setCheckbox" data-sortable='false'>
		  	<span data-ck='0' onclick="getall(this)">全选</span>
		  </th>
            <th data-field="id"  data-sortable="true">id</th>
         <th data-field="username"  data-sortable="true" >操作用户</th>
         <th data-field="content"  data-sortable="true" >操作内容</th>
         <th data-field="addtime"  data-sortable="true" >操作时间</th>
         <th data-field="ip"  data-sortable="true">操作IP</th>
         <th data-field="operate"  data-sortable="true">操作</th>
 </block>
 
 
 <block name='extend'>
 
 <script>
 
 function setCheckbox(value, row, index) {
		var str = ' <input type="checkbox"  class="i-checks" value="'+row.id+'" name="chkid">';
		
  return [str].join('');
}
	</script>
 
 </script>
	
 
	
	
 </block>