<extend name="Layout/form-add" />
<block name='css'>
    <link rel="stylesheet" type="text/css" href="/Public/static/css/plugins/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/Public/static/css/demo/webuploader-demo.css">
    <link rel="stylesheet" href="/Public/static/css/style.css?v=4.1.0" >
</block>


<block name="form-field">

    {:formbuilder('select',array('title'=>'所属站点','name'=>'sid','options'=>$host,'select'=>$list['sid']))}
    {:formbuilder('choose',array(type=>'radio','title'=>'配置类型','name'=>'type','options'=>$types,'checked'=>[$list['type']]))}
    {:formbuilder('input',array('title'=>'配置名称','name'=>'name','value'=>$list['name'],'placeholder'=>'请输入配置名称','validate'=>'required','tip'=>''))}
    {:formbuilder('input',array('title'=>'配置KEY','name'=>'key','value'=>$list['key'],'placeholder'=>'请输入配置KEY','validate'=>'required','tip'=>''))}

    <div class="s1 showtype">
        {:formbuilder('textarea',array('title'=>'配置Value','name'=>'value','value'=>$list['value'],'placeholder'=>'请输入配置Value','validate'=>'','tip'=>'','row'=>5))}

    </div>

    <div class="s2 showtype">
        <div class="form-group i-checks">
            <label class="col-sm-3 control-label">配置Value：</label>
            <div class="col-sm-8">

                <include file="Common/ueditor"/>
            </div>
         </div>
        <br/>
    </div>

    <div class="s3 showtype">
        <include file="Common/Upload" />
        <br/>
    </div>


    {:formbuilder('input',array('title'=>'备注','name'=>'remark','value'=>$list['remark'],'placeholder'=>'','validate'=>'','tip'=>''))}



    <script>

        $(function () {
            showtype();
            $('input[name="type"]').on('ifChecked', function(event){
                showtype();
            });
        })

        function showtype(){
            $('.showtype').hide();
            var val = $('input[name="type"]:checked').val();
            console.log(val);
            $('.s'+val).show();
        }
        
    </script>
    
    
</block>

<block name='extend'>

</block>