<extend name="Layout/form-add" />
<block name='css'>
    <link rel="stylesheet" type="text/css" href="/Public/static/css/plugins/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/Public/static/css/demo/webuploader-demo.css">
    <link rel="stylesheet" href="/Public/static/css/style.css?v=4.1.0" >
</block>


<block name="form-field">

    {:formbuilder('select',array('title'=>'所属站点','name'=>'sid','options'=>$host,'select'=>$list['sid']))}
    {:formbuilder('choose',array(type=>'radio','title'=>'配置类型','name'=>'type','options'=>$types,'checked'=>[$list['type']]))}
    {:formbuilder('input',array('title'=>'配置名称','name'=>'name','value'=>$list['name'],'placeholder'=>'请输入配置名称','validate'=>'required','tip'=>''))}
    {:formbuilder('input',array('title'=>'配置KEY','name'=>'key','value'=>$list['key'],'placeholder'=>'请输入配置KEY','validate'=>'required','tip'=>''))}
    {:formbuilder('input',array('title'=>'配置Value','name'=>'value','value'=>$list['value'],'placeholder'=>'请输入配置Value','validate'=>'required','tip'=>''))}
    {:formbuilder('input',array('title'=>'备注','name'=>'remark','value'=>$list['remark'],'placeholder'=>'','validate'=>'','tip'=>''))}

</block>

<block name='extend'>

</block>