<extend name="Layout/jquery-table" />


<block name='toolBar'>
                              {:getToolIcon('add','J_open btn-sm',U('add',['sid'=>$_REQUEST['sid']]))}
                                {:getToolIcon('delete','J_multiple btn-sm',U('delete'))}
                                 {:getToolIcon('on','J_multiple btn-sm',U('enable'))}
                                 {:getToolIcon('off','J_multiple btn-sm',U('disable'))}
</block>

<block name="searchForm">
    <div class="form-group">
        <label for="exampleInputEmail2" class="sr-only">配置名称</label>
        <input type="text" name="name"  placeholder="产品名称"  class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2" class="sr-only">配置项</label>
        <input type="text" name="name"  placeholder="产品名称"  class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2" class="sr-only">全部站点</label>
        <select class="form-control " name="sid">
            <option value=''>--全部--</option>
            <volist name='host' id='vo'>
                <option value="{$key}" {$_REQUEST['sid']==$key?'selected':''}>{$vo}</option>
            </volist>
        </select>

    </div>
                          
                           		 
    </block>

 <block name='thead'>
	
		  <th data-field="stat" data-formatter="setCheckbox" data-sortable='false'>
		  	<span data-ck='0' onclick="getall(this)">全选</span>
		  </th>
         <th data-field="host"  data-sortable="true">配置域名</th>
         <th data-field="type"  data-sortable="true">配置类型</th>
         <th data-field="name"  data-sortable="true" >配置名称</th>
         <th data-field="key"  data-sortable="true" >配置KEY</th>
         <th data-field="value"  data-sortable="true" >配置Value</th>
         <th data-field="remark"  data-sortable="true">备注</th>

         <th data-field="operate"  data-sortable="true">操作</th>
 </block>
 

 

 
