<extend name="Layout/jquery-table" />


<block name='toolBar'>
                              {:getToolIcon('add','J_open btn-sm',U('add'))}
                                {:getToolIcon('delete','J_multiple btn-sm',U('delete'))}
                                 {:getToolIcon('on','J_multiple btn-sm',U('enable'))}
                                 {:getToolIcon('off','J_multiple btn-sm',U('disable'))}
                                   {:getToolIcon('refresh','J_confirm btn-sm',U('cacheserver'),'更新机房缓存')}
                                 
</block>

<block name="searchForm">
                     	 <div class="form-group">
                                <label for="exampleInputEmail2" class="sr-only">名称</label>
                                <input type="text" name=name  placeholder="名称" id="exampleInputEmail2" class="form-control">
                           		 </div>
                           		  <div class="form-group">
                                <label for="exampleInputEmail2" class="sr-only">ip</label>
                                <input type="text" name='serverip' placeholder="ip" id="exampleInputEmail2" class="form-control">
                           		 </div>
                           	 <div class="form-group">
                                <label for="exampleInputEmail2" class="sr-only">机房</label>
                                <select class="form-control " name="roomset">
                                		<option value=''>--机房--</option>
                                		<volist name='rooms' id='vo'>
                                		 <option value="{$key}">{$vo}</option>
                                		</volist>
                                    </select>
                                
                           </div>
                         
                           		 
    </block>

 <block name='thead'>
		  <th data-field="stat" data-formatter="setCheckbox" data-sortable='false'>
		  	<span data-ck='0' onclick="getall(this)">全选</span>
		  </th>
         <th data-field="id"  data-sortable="true">id</th>
         <th data-field="name"  data-sortable="true" >server名称</th>
         <th data-field="serverip"  data-sortable="true" >serverIP</th>
          <th data-field="roomname"  data-sortable="true" >机房</th>
         <th data-field="status"  data-sortable="true" >状态</th>
         <th data-field="conn"  data-sortable="true" >最大连接</th>
         <th data-field="vpnport"  data-sortable="true">端口</th>
         <th data-field="modename"  data-sortable="true">连接模式</th>
         <th data-field="regionname"  data-sortable="false">可用区域</th>
         <th data-field="realconn"  data-sortable="true">当前连接</th>
         <th data-field="net"  data-sortable="true">网络状态</th>
         <th data-field="up"  data-sortable="true">上行</th>
         <th data-field="down"  data-sortable="true">下行</th>
         <th data-field="loss"  data-sortable="true">丢包</th>
         <th data-field="operate"  data-sortable="true">操作</th>
 </block>
 
 
