<extend name="Layout/jquery-table" />

<title>{$titlename}</title>
<block name='toolBar'>
                      {:getToolIcon('add','J_open btn-sm',U('add'))}
                      {:getToolIcon('delete','J_multiple btn-sm',U('delete'))}
                       {:getToolIcon('on','J_multiple btn-sm',U('enable'))}
                      {:getToolIcon('off','J_multiple btn-sm',U('disable'))}             
                          
</block>

<block name="searchForm">
                           		 <div class="form-group">
                                <label for="exampleInputEmail2" class="sr-only">IP</label>
                                <input type="text" name="ip"  placeholder="ip" id="exampleInputEmail2" class="form-control">
                           		 </div>
                           		
                          
                           		 
    </block>

 <block name='thead'>
  	<th data-field="stat" data-formatter="setCheckbox" data-sortable='false'>
		  	<span data-ck='0' onclick="getall(this)">全选</span>
		  </th>
         <th data-field="id"  data-sortable="true" >id</th>
         <th data-field="ip"  data-sortable="true" >IP</th>
             <th data-field="status"  data-sortable="true">状态</th>
         <th data-field="mark"  data-sortable="true" >备注</th>
         <th data-field="addtime"  data-sortable="true" >添加时间</th>
         <th data-field="updtime"  data-sortable="true" >更新时间</th>
         <th data-field="adduser"  data-sortable="true" >操作人</th>
     
         <th data-field="operate"  data-sortable="true">操作</th>
 </block>
