
<include file="head"/>
<div class="inbanner">
	<div class="inbanner-pic" style="background-image:url(/Public/proto/Images/pic_banner_about.jpg);"></div>
	<div class="inbanner-text">
		{$config['config']['WEB_ABOUT_MARK']|htmlspecialchars_decode}
	</div>
</div>

<div class="incontenter" style='padding-top:0px;'>
	<div class="wrapper">
		


		<div class="about-cont-one clearfix" style='padding:30px;'>
			
			{$config['config']['WEB_ABOUT_MAIN']|htmlspecialchars_decode}
		</div>
		
		
<!-- 		<div class="about-cont-one about-cont-one-oop clearfix">
		<div class="pic"><img src="/Public/proto/Images/about2.jpg"></div>
			<div class="text">
				<p class="exp"><b>优势的地理位置</b>--我公司距离武当山机场约5公里，便于您从中国的主要城市来参观我公司。从西安的咸阳机场到我公司约45分钟，从武汉天河机场到我公司仅需1个小时，从广州的白云机场到我公司只需2个小时时间。在此，我公司诚挚的欢迎各国朋友到我公司参观访问。</p>
			</div>
		</div>
		<div class="about-cont-one clearfix">
				<div class="pic"><img src="/Public/proto/Images/about3.jpg"></div>
			<div class="text">
				<p class="exp"><b>优质的产品</b>--我公司主要出口产品包含 4BT3.9, 6BT5.9, 6CT8.3, 6L8.9, ISBe3.9L, ISBe4.5L, ISDe4.5L, ISLe8.9L,ISLe9.3L,QSB,QSZ,X15,ISF2.8s, ISF3.8s,ISG,NTA855, M11, KTA19, KTA38, KTA50系列的发动机、滤芯、涡轮增压器及发动机零配件。
我公司代理销售东风、中国重汽、三环专汽等卡车。</p>
			</div>
		</div>
		<div class="about-cont-one about-cont-one-oop clearfix">
				<div class="pic"><img src="/Public/proto/Images/about4.jpg"></div>
			<div class="text">
				<p class="exp"><b>全球市场</b>--我公司在全球拥有广泛的市场
非洲市场： 埃及、加纳、利比亚,赞比亚等。
中东市场： 伊朗、伊拉克，阿联酋，沙特等。
东南亚市场：韩国、日本，印度尼西亚、马来西亚、新加坡、泰国、越南等。
美洲市场：美国、加拿大、哥伦比亚、智利等。</p>
			</div>
		</div> -->
	</div>
</div>
   

<include file='foot'/>
