<include file='head'/>
<div class="inbanner">
	<div class="inbanner-pic" style="background-image:url(/Public/proto/Images/pic_banner_anzh.jpg);"></div>
	<div class="inbanner-text">
			{$config['config']['WEB_BUSINESS_MARK']|htmlspecialchars_decode}
		</div>
</div>

<div class="incontenter" style='padding-top:0px;'>
	<div class="wrapper">
	
		<div class="about-cont-one clearfix" style='padding:30px;'>
			
			{$config['config']['WEB_BUSINESS_MAIN']|htmlspecialchars_decode}
		</div>
</div>

<include file='foot'/>
