
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>经营范围-{$config['web_title']}</title>
<include file='head'/>
<div class="inbanner">
	<div class="inbanner-pic" style="background-image:url(/Public/proto/Images/pic_banner_anzh.jpg);"></div>
	<div class="inbanner-text">
		<h3 class="title">经营范围</h3>
		<p class="exp">我公司主要出口产品包含 4BT3.9, 6BT5.9, 6CT8.3, 6L8.9, ISBe3.9L, ISBe4.5L, ISDe4.5L, ISLe8.9L,ISLe9.3L,QSB,QSZ,X15,ISF2.8s, ISF3.8s,ISG,NTA855, M11, KTA19, KTA38, KTA50系列的发动机、滤芯、涡轮增压器及发动机零配件。</p>
	</div>
</div>

<div class="incontenter">
	<div class="wrapper">
		<div class="about-cont-one about-cont-one-oop clearfix">
		<div class="pic"><img src="../Public/images/pic2.gif"></div>
			<div class="text">
				  {$ninfo['n_content']|killHtml}
		</div>
			</div>
		</div>
		<div class="article">
		
		  
	</div>
</div>

<include file='foot'/>
