
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>联系我们-{$config['web_title']}</title>
<include file='head'/>
<div class="inbanner">
	<div class="inbanner-pic" style="background-image:url(/Public/proto/Images/pic_banner_contact.jpg);"></div>
	<div class="inbanner-text">
		<h3 class="title">联系我们</h3>
		<p class="exp">我们诚挚希望与新老客户建立长期合作关系，互惠互利。</p>
	</div>
</div>

<div class="incontenter">
	<div class="wrapper">
	<div class="incontact-way">
			  {$myinfo['n_content']|killHtml}
		</div>
	
		
</div>

<include file='foot'/>
