<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name='renderer' content='webkit'>
	<meta charset='utf-8' />
<title>{$Think.lang.dcenter}--<eq name='lan' value='1'>{$config['web_title']}<else/>{$config['web_en_title']}</eq></title>
	<meta name="description" content="{$config['web_description']}" />
	<meta name="keywords" content="{$config['web_keyword']}" />
	<link href="../favicon.ico" rel="shortcut icon" />
	<link rel="stylesheet" type="text/css" href="../Public/css/metinfo.css" />
	<script src="../Public/js/metinfo-min.js" type="text/javascript"></script>
	<script src="../Public/js/ch.js" type="text/javascript"></script>
	<script src="../Public/js/public.js" type="text/javascript" language="javascript"></script>
	<include file='headonline'/>
</head>
	<link href="../Public/css/reset.css" rel="stylesheet" type="text/css" />

	<script type="text/javascript">
  $(document).ready(function(){
    $("#nav_5").addClass("downnav");
	    $("#nav li").hover(
  function () {
    $(this).addClass("hover");
  },
  function () {
    $(this).removeClass("hover");
  }
);
  });
</script>
	<script src="../Public/js/fun.inc.js" type="text/javascript"></script>
	<style type="text/css">#top{ background:url() no-repeat;}</style>
<body>
	<div id="metinfo">
			<include file='head'/>

				<div id="flash inner">
					<div class="flash">
						<img src='../Public/images/1395284985.jpg' width='1000' alt='' height='184'></div>
				</div>
		
			<div id="web">
				<div id="bigfloatl" class="floatl">

					<div id="leftdiv1" class="leftdiv">
						<h3>
								<eq name='lan' value='1'>
								<span class="shou">新</span>
								<span class="other">闻咨询</span>
								<else/>
								<span class="shou">News</span>
								<span class="other">center</span>
								</eq>
						</h3>
						<div id="sidebar" class="leftcontent">
							<volist name='ncate' id='vo'>
								<dl class="list-none navnow">
										<dt id='part2_22'>
											<eq name="lan" value='1'>
												<a <eq name="_GET['cid']" value="$vo['id']">style='color:#fc6a28'</eq> class="zm" href="{:U('news',array('cid'=>$vo['id']))}"><span>{$vo['c_name']}</span></a>	
												<else/>
												<a <eq name="_GET['cid']" value="$vo['id']">style='color:#fc6a28'</eq>   class="zm" href="{:U('news',array('cid'=>$vo['id']))}"><span>{$vo['c_en_name']}</span></a>	
								 			</eq>
											
										</dt>
								</dl>
							</volist>
									
						</div>
						<div class="bottom"></div>
					</div>

					<include file='left-contact'/>
				</div>

				<div class="web-right floatr ">
					<h3 class="title">
						<div>
							{$Think.lang.pos}&nbsp;&nbsp;:&nbsp;&nbsp;
							<a href="{:U('index/index')}">{$Think.lang.homepage}</a>
							&gt;
							<a href="{:U('index/download')}">{$Think.lang.dcenter}</a>
						</div>
					</h3>

					<div class="newslist webbox">
						<ul class='list-none metlist'>
							<empty name='files' >
								<h2>{$Think.lang.noproducts}</h2>
							<else/>
								<volist name='files' id='vo' key='key'>
									<li class="list {$key==1?'top':''}" >
									
										<a href="{:U('downloads',array('file'=>$vo))}">{$vo}</a>
									</li>
							
								</volist>

							</empty>
							
						
						</ul>
						<div id="flip">
							
							<div class='digg4 metpager_8'>
								{$show}
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>

			<include file='foot'/>

</body>
	</html>