<div class="scd_l">
    	<div class="name">
            <eq name='lan' value='1'>
        	产品中心
             <p>Products</p>
            <else/>
            Products
            <p>产品中心</p>
            </eq>
           
        </div>

        <ul class="s_nav">
		<notempty name='topname'>
			 <h2 style='text-align:center;'><a href="{:U('products')}" style='color:#444'>{$topname}</a></h2>
		</notempty>
            <volist name="pcates" id="vo">
             <li <eq name="vo['id']" value="$cid"> class="now" </eq>>
                    <eq name="lan" value='1'>
                        <a href="{:U('products',array('cid'=>$vo['id']))}"><span>{$vo['c_name']}</span></a>   
                        <else/>
                        <a href="{:U('products',array('cid'=>$vo['id']))}"><span>{$vo['c_en_name']}</span></a> 
                    </eq>
            </li>
            </volist>
        	
        </ul>
 </div>


	