<style>
.b_ml ul li.lion p a{color:#0f44ae}
</style>
<include file="head"/>

<div class="incontenter">
	<div class="wrapper">
		<div class="inside-nav">
			<ul class="inside-nav-list clearfix">
					<li class='par-li {$_REQUEST['cid']?'':'on'}' data-id='0'><a href="{:U('products',array('cid'=>0))}">{$language=='en'?'All':'全部分类'}</a></li>
				<volist name='products' id='vo'>
					<li class='par-li {$vo['on']} par-li-{$vo['id']}' data-id="{$vo['id']}"><a href="{:U('products',array('cid'=>$vo['id']))}" >{$vo['title']}</a></li>
				</volist>
			
			</ul>
		</div>
		   <div class="index-jinkou">
            <div class="wrapper">
                <div class="index-jinkou-loop b_ml" style='padding-bottom:0;'>
                   <ul class="son-ul son-ul-{$vo['pid']}" style='height:auto;'>
                            <volist name='products' id='vo'>
	                            	<volist name="vo['_child']" id="vo1">
	                         		<li class='son-li son-li-{$vo1['pid']} {$vo1['id']==$_REQUEST['cid']?'lion':''}' data-pid="{$vo1['pid']}"><p><a href="{:U('products',array('cid'=>$vo1['id']))}">{$vo1['title']}</a></p> </li>
	                         		</volist>
                            </volist>
                  </ul>
                </div>
            </div>
        </div>
		
		<div class="pros-all-wrap">
			<ul class="pros-show-list row-list-4 clearfix">
				<volist name='plist' id='vo'>
				
				<li>
					<a href="{:U('pinfo',['pid'=>$vo['id']])}" class="pros-simple-one">
						<div class="pic"><img src="{$vo['pic']}" onload="imgCenter(this)"></div>
						<h4 class="title">{$vo['name']}</h4>
					</a>
				</li>
				</volist>
		
			</ul>
		</div>
		<div class="pages">
                    {$show}
                </div>
	</div>
</div>

<script>

$(function(){
	
	$('.par-li').on('mouseover',function(){
		var id = $(this).data('id');
		$('.par-li').removeClass('on');
		$(this).addClass('on');
		if(id==0){
			$('.son-li').show();
		}else{
			$('.son-li').hide();
			$('.son-li-'+id).show();
		}
	})
	
	var pid=$('.lion').data('pid');
	if(!pid){
		pid = $('.inside-nav-list li.on').data('id');
	}
	if(pid){
		$('.par-li').removeClass('on');
		$('.par-li-'+pid).addClass('on');
		$('.son-li').hide();
		$('.son-li-'+pid).show();
	}
	
})
</script>

<include file='foot'/>
