
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>公司资质</title>
<include file='head'/>
<div class="inbanner">
	<div class="inbanner-pic" style="background-image:url(/Public/proto/Images/pic_banner_jinkou.jpg);"></div>
	<div class="inbanner-text">
		<h3 class="title">公司资质</h3>
		<p class="exp">我公司拥有柴油发电机组的装配车间，我们可以根据客户的不同需求调配控制系统,功率（马力），同时可以提供相关的证书。</p>
	</div>
</div>

<div class="incontenter">
	<div class="wrapper">
		<include file="left-contact"/>
		<div class="article" style='background:#fff'>
			     {$ninfo['n_content']|killHtml}
		</div>
	</div>
</div>

<include file='foot'/>
