<extend name="Layout/jquery-table" />



<block name='toolBar'>
                          <!--     {:getToolIcon('add','J_open btn-sm',U('add'))}
                                {:getToolIcon('delete','J_confirm btn-sm',U('delete'))} -->
                                 {:getToolIcon('on','J_multiple btn-sm',U('enable'))}
                                 {:getToolIcon('off','J_multiple btn-sm',U('disable'))}
</block>

<block name="searchForm">
                           	 <div class="form-group">
                                <label for="exampleInputEmail2" class="sr-only">用户名</label>
                                <input type="text" name="username"  placeholder="用户名"  class="form-control">
                      </div>
                   <div class="form-group">
                      <label for="exampleInputEmail2" class="sr-only">联系电话</label>
                         <input type="text" name='mobile'  placeholder="联系电话"  class="form-control">
                          
                           		 
    </block>

 <block name='thead'>
	
		  <th data-field="stat" data-formatter="setCheckbox" data-sortable='false'>
		  	<span data-ck='0' onclick="getall(this)">全选</span>
		  </th>
         <th data-field="id"  data-sortable="true">id</th>
         <th data-field="account"  data-sortable="true" >账号</th>
         <th data-field="ismobile"  data-sortable="true" >是否绑定</th>
         <th data-field="usertype"  data-sortable="true">用户类型</th>
         <th data-field="vip"  data-sortable="true">VIP</th>
         <th data-field="regtime"  data-sortable="true" >注册时间</th>
         <th data-field="logintime"  data-sortable="true">最后登录时间</th>
         <th data-field="operate"  data-sortable="true">操作</th>
 </block>
 
 
